# Install Dependencies

# Streamlit
streamlit==1.46.1

# Bibliotecas para manipulação de dados
numpy==2.2.4
pandas==2.3.0


# Bibliotecas para visualização de dados
matplotlib==3.10.1
seaborn==0.13.2

# Bibliotecas para análise de dados
scipy==1.15.2
scikit-learn==1.6.1

# Bibliotecas para machine learning

tensorflow==2.19.0
keras==3.10.0
tensorflow==2.19.0
keras==3.10.0
tensorflow==2.19.0
keras==3.10.0



# Bibliotecas para web scraping
beautifulsoup4==4.13.4
requests==2.32.4

# Bibliotecas para trabalhar com bancos de dados
sqlalchemy==2.0.41
psycopg2-binary==2.9.10

# Bibliotecas para Jupyter Notebook

jupyter==1.1.1
notebook==7.4.5

jupyter==1.1.1
notebook==7.4.5
ipywidgets==8.1.7

# Outras bibliotecas úteis
joblib==1.5.1


