# Install Dependencies

# Streamlit
streamlit==1.38.0

# Bibliotecas para manipulação de dados
numpy==2.1.1
pandas==2.2.3


# Bibliotecas para visualização de dados
matplotlib==3.9.2
seaborn==0.13.2

# Bibliotecas para análise de dados
scipy==1.14.1
scikit-learn==1.5.2

# Bibliotecas para machine learning
tensorflow==2.17.0
keras==3.5.0


# Bibliotecas para web scraping
beautifulsoup4==4.12.3
requests==2.32.3

# Bibliotecas para trabalhar com bancos de dados
sqlalchemy==2.0.35
psycopg2-binary==2.9.9

# Bibliotecas para Jupyter Notebook

jupyter==1.1.1
notebook==7.2.2

jupyter==1.1.1
notebook==7.2.2
ipywidgets==8.1.5

# Outras bibliotecas úteis
joblib==1.4.2


